@font-face {
  font-family: Trasandina;
  src: url("../TrasandinaRegular.woff");
  font-weight: normal;
}

@font-face {
  font-family: Trasandina;
  src: url("../TrasandinaBold.woff");
  font-weight: bold;
}

@font-face {
  font-family: Trasandina;
  src: url("../TrasandinaBoldItalic.woff");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  box-sizing: border-box;
}

p, li, h1, h2, a {
  font-family: "Trasandina", sans-serif;
}

h1 {
  font-weight: bold;
}

h2 {
  font-style: italic;
}

a {
  text-decoration: none;
}

#navigation-container {
  height: 40px;
  width: 100%;
  background: #efefef;
}

nav {
  width: 70%;
  max-width: 970px;
  margin: auto;
  display: flex;
}

#logo {
  height: 24px;
  margin-top: 7px;
  margin-left: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 8px;
}

nav li {
  padding-right: 25px;
}

nav a {
  color: #ff530d;
}

nav a:hover {
  border-bottom: 3px solid #ff530d;
}

#outer-head {
  width: 100%;
  background: #37566f;
}
#head-container {
  width: 70%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0;
  padding-top: 95px;
  color: #efefef;
}

#head-container p {
  width: 55%;
  margin: auto;
  padding-bottom: 20px;
  color: #efefef;
}

.line {
  width: 150px;
  height: 5px;
  background: #efefef;
}

.line-link::before {
  content: ' ';
  display: block;
  height: 5px;
  width: 10%;
  margin: auto;
  margin-bottom:-8px;
  background: #efefef;
}

a.line-link {
  font-size: 1.3em;
  color: #efefef;
  padding-bottom: 80px;
  display: block;
}

a.line-link:hover::before {
  margin-bottom: 0;
}

a.line-link:hover {
  padding-bottom: 72px;
}

#main-container {
  background: white;
  width: 70%;
  max-width: 970px;
  margin: 45px auto;
}

.row {
  display: flex;
  /*padding: 55px 0;*/
}

.column {
  width: 50%;
  padding: 6% 5%;
  color: #a0a0a0;
}

@media screen and (max-width: 1060px) {
  .row {
    display: block;
    text-align: center;
  }

  .column {
    width: 100%;
  }

  .column img {
    max-width: 100%;
  }

  .project-info {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .column {
    padding: 1%;
  }
}

hr {
  width: 70%;
  border: 1px solid #f0f0f0;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 10px;
  margin: 0;
}

h2::after {
  content: ' ';
  display: block;
  height: 5px;
  width: 35%;
  background: #bdd4de;
  margin-top: 10px;
  margin-bottom: 10px;
}

#main-container p {
  margin: 0;
}

.project-scope {
  font-size: 1.1em;
}

.project-date {
  padding-bottom: 15px;
}

.more {
  border: 1px solid #bdd4de;
  background: white;
  border-radius: 2px;
  padding: 7px 10px;
  margin-top: 20px;
  cursor: pointer;
}

.more a {
  color: #bdd4de;
}

.more:hover {
  -webkit-transition: all 0.5s;
  border: 1px solid #37566f;
}

.more:hover a {
  color: #37566f;
}

.row:hover h2,
.row:hover p {
  -webkit-transition: color 0.5s;
  color: #74787c;
}

.row:hover h2::after {
  -webkit-transition: all 0.5s;
  background: #37566f;
}

#main-container a {
  text-align: center;
}

#main-container .line-link::before {
  background: #37566f;
}

#main-container a.line-link {
  color: #37566f;
}

#footer-container {
  width: 100%;
  background: #9c9c9c;
  height: 40px;
}

#footer-container ul {
  width: 70%;
  max-width: 970px;
  margin: auto;
  text-align: center;
}

#footer-container li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
  margin-top: 10px;
  font-size: .9em;
}

#footer-container a {
  color: white;
}

#footer-container a:hover {
  border-top: 3px solid white;
  padding-top: -5px;
}
