body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

h2 {
  color: #838383;
  font-size: 30px;
}

.btn {
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: none;
  padding: 10px 40px;
  margin-top: 25px;
  margin-bottom: 80px;
}

.btn a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

.row {
  display: flex;
}

.column {
  width: 50%;
}

#work-container .column {
  margin: 25px;
}

#write-container .column {
  padding: 25px;
}

#navigation-container {
  width: 10%;
  height: 100%;
  position: fixed;
  background: #efefef;
  text-align: center;
}

#logo {
  padding-top: 50px;
}

nav ul {
  margin-right: 20px;
  padding-top: 150px;
  font-size: .8em;
}

nav li {
  list-style: none;
  text-align: right;
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  color: #ea6045;
}

nav ul a:hover::before {
  content: '>';
  padding-right: 5px;
}

#main-page {
  width: 90%;
  float: right;
}

#head-container {
  width: 100%;
}

.home-page #head-container {
  background: #f8ca4d;
}

.works-page #head-container {
  background: #b04d66;
}

.about-page #head-container {
  background: #ea6045;
}

#head-info {
  width: 40%;
  max-width: 500px;
  margin: auto;
  padding-top: 120px;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 3.3em;
  margin-bottom: 0;
}

#head-info p {
  padding: 0 30px;
  text-align: left;
}

#head-info .btn {
  background: #ea6045;
}

#head-info .btn:hover {
  background: #dd4a2d;
}

#work-container {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  text-align: center;
}

#work-container .column img {
  max-width: 100%;
}

.work-overview {
  text-align: left;
  font-size: .8em;
}

.work-title {
  font-weight: bold;
  margin-bottom: 0
}

.work-spec {
  font-style: italic;
  margin-top: 0;
}

@media screen and (min-width: 670px) {
  .column {
    position: relative;
  }

  #work-container .column img {
    padding-top: 0;
  }

  .home-page #work-container .column::before,
  .works-page #work-container .column::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    background: #b04d66;
    background: rgba(176, 77, 102, 0.8);
    /*display: none;*/
    opacity: 0;
    -webkit-transition: all .3s;
  }

  .works-page #work-container .column::before {
    background: #2e5571;
    background: rgba(46, 85, 113, 0.8);
  }

  .home-page #work-container .column:hover::before,
  .works-page #work-container .column:hover::before {
    /*display: block;*/
    opacity: 1;
  }

  .work-overview {
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
    display: none;
    color: white;
  }

  .column:hover .work-overview {
      display: block;
  }
}

#work-container .btn {
  background: #2e5571;
  margin-bottom: 55px;
}

#work-container .btn:hover {
  background: #1e445e;
}

#write-container {
  width: 100%;
  background: #2e5571;
  display: inline-block;
  text-align: center;
}

#inner-write {
  width: 80%;
  max-width: 1100px;
  background: white;
  margin: 45px auto;
  text-align: left;
}

#inner-write .column {
  padding: 75px;
  color: #2e5571;
  font-size: .9em;
}

#inner-write h3, .date {
  margin: 0;
}

.date {
  font-style: italic;
}

.more a {
  color: #b04d66;
  text-decoration: none;
}

#write-container .btn {
  margin-bottom: 40px;
  background: white;
}

#write-container .btn:hover {
  background: #bcddf5;
}

#write-container .btn a {
  color: #2e5571;
}

#contact-container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  color: #2f3440;
  padding-bottom: 0;
  margin-bottom: -20px;
}

#contact-container p, .about-page .narrow-row p {
  width: 50%;
  margin: auto;
}

#contact-container h4 {
  font-size: 4em;
  font-style: italic;
  color: #f8ca4d;
  margin-top: 50px;
}

#contact-container span {
  color: #2f3440;
  font-weight: 900;
  font-style: normal;
  padding-right: 50px
}

#footer-container {
  width: 100%;
  height: 75px;
  background: #ea6045;
  text-align: center;
}

#footer-container ul {
  padding-top: 10px;
}

#footer-container li {
  list-style: none;
  line-height: 70px;
  padding: 0 20px;
  display: inline;
}

#footer-container li:hover img {
  -webkit-filter: none;
}

#footer-container li img {
  -webkit-filter: brightness(10);
}

/*                   *\
      ABOUT STYLES
\*                   */

.about-section {
  text-align: left;
  line-height:1.4em;
}

.about-page .about-section p {
  padding: 20px;
  font-size: .9em;
}


/*                   *\
    HIGHLIGHT STYLES
\*                   */

.highlight-page #head-container {
  height: auto;
  position: relative;
  top: -35px;
  text-align: center;
}

.highlight-page #head-container img {
  padding-top: 80px;
}

#pages-container,
#type-container,
#color-container {
  text-align: center;
}

#pages-container img {
  -webkit-box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 44px -5px rgba(0,0,0,0.2);
}

.highlight-header {
  width: 40%;
  margin: auto;
  padding: 40px 0;
}

.highlight-header p {
  color: #838383;
  font-size: .9em;
}
